# 1. Ignore only items in the root directory
/*

# 2. Keep the gitignore file itself
!/.gitignore

# 3. Whitelist your config folders (Git will enter these and track everything inside)
!/kitty/
!/nvim/
!/picom/
!/polybar/
!/tmux/
!/corne_v4_1_ufs/
!/qmk/
!/scripts/
!/dunst/
!/wezterm/
!/rofi/
!/i3-restore/
!/imp_commands/


# 4. Whitelist specific files in the root
!/redshift.conf
!/starship.toml
!/greenclip.toml
!/i3/config
