[Unit]
Description=Pomodoro Timer Daemon
Documentation=man:pomodoro(1)
After=graphical-session.target

[Service]
Type=forking
ExecStart=/home/vbaswin/.config/cus-pomodoro/pomodoro --daemon
ExecStartPost=/bin/sleep 1
ExecStartPost=/home/vbaswin/.config/cus-pomodoro/pomodoro --start
ExecStop=/home/vbaswin/.config/cus-pomodoro/pomodoro --stop
PIDFile=/tmp/pomodoro.pid
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target   
